!!!
%html
  %head
    %title Instafix
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    .topbar
      .topbar-inner
        .container
          %h3= link_to "Instafix", "/"
          %ul.menu
            %li= link_to "About", "/about"
          .details
            - if session[:access_token]
              Logged in as
              %i= current_user.fullname
              = link_to "Log out", logout_session_path
            - else
              = link_to "Log in", new_session_path
    .container.main
      #flash
        - flash.each do |key, value|
          %div{:class => "alert-message #{key}"}= value
      
      = yield

