!!!
%html
  %head
    %title Instafix
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    .navbar-inverse.navbar
      .navbar-inner
        .container
          = link_to "Instafix", "/", :class => :brand
          %ul.nav
            %li= link_to "About", "/about"
          .details.pull-right
            - if session[:access_token]
              Logged in as
              %i= current_user.fullname
              = link_to "Log out", logout_session_path
            - else
              = link_to "Log in", new_session_path
    .container.main
      #flash
        - flash.each do |key, value|
          %div{:class => "alert alert-#{key}"}= value
      
      = yield

